/**
 * Platform default colour config
 */
$primary : #727cf5;
$secondary : #7987a1;
$success : #10b759;
$danger : #ff3366;
$warning : #fbbc06;
$info : #66d1d1;
$light : #ececec;
$dark : #282f3a;
$transparent: transparent;
$grey10: #e8ebf1;
$grey20: #eee;
$black: #000;
$white: #fff;

/**
 * Platform default font si config
 */

$sm: 0.875rem;


/**
 * Platform component table colour config
 */
$base-table-font-color: $dark;
$base-table-font-size: $sm;
$base-table-color: $grey20;

